<div class="title">Thee Nodes</div>

<p>I moved to Ottawa for 4 months in January 2015 (which if you remember was one of the coldest fucking winters ever- it felt like I was on set in The Girl With The Dragon Tattoo until
    May). Anyways, I was there working a co op gig at IBM living in a basement room in an apartment about 3 bus transfers away from work. After I got comfortable with the city,
I started to explore a little bit. Started spending less time working on what would become Cyanide Canaries' "Death to the Police Force" and more time looking for things
to do to entertain myself around the city.</p>

<p>At some point in my lonesome wandering, I discovered the Gabba Hey; one of the more respectable punk venues in an industrial area of town. Far, far northwest from me.
     Definitely didn't just stumble onto it. In fact, I walked about an hour and a half there in my work shoes, suit, tie and slacks in the middle of the winter after work- not knowing
    how to get there by transit. Besides feeling completely out of place, the only one still dressed in his desk job wear, I walked into what appeared to be some Glitch Porn
film... I didn't fucking get it. All those people there pretending they got it, fuck off. I approached a guy whose stance and facial blankness seemed to align with what I was feeling and 
asked him what he thought of it. "Garbage", he said. We grabbed a beer and we would play in a short-lived grindcore group called Gag Reflex a couple weeks later.</p>

<p>After the robot porn feature film was done, they popped in another film. A documentary about the now-disbanded Montreal freak-punk band called Thee Nodes.</p>

<p>I honestly think this is what started a lot of things for me. Seeing the pure tenacity, nihlism and theatrics from these guys made me really interested in anything like it.
    I think hearing these guys was a precursor to my obsession with The Birthday Party. Thee Nodes featured Mr. Node, a mummy-bandaged hyperactive screeching spaz in a torn black and white suit with impossibly high tolerance
    levels to pain and humilation. This guy was in your face, he was hanging on the ceiling, he was throwing himself on the floor, he was antagonizing audience members to punch him in the face.
    It's art. It's performance. It's music. It's the human experience. It's pain, and that's life... and Mr. Node was embracing it head on. 
</p>

<return></return>

<img src="http://3.bp.blogspot.com/-RaalI7iMdYA/U4Mili1d9II/AAAAAAAAAUc/TaqZYWEN-Fc/s1600/thee+nodes.jpg"/>