body {
    line-height: 1.6;
    border-top: solid 16px #000000;
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
    padding: 104px;
    border-left: solid 16px black;
    color: #ffffff;
    background: #0d0d0d;
    margin: 0;
}

@media (max-width: 360px) {
body {
    line-height: 1.6;
    border-top: solid 16px #000000;
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
    padding: 70px;
    border-left: solid 16px black;
    color: #ffffff;
    background: #0d0d0d;
    margin: 0;
}
}

.main-view {
    margin-bottom: 48px;
}

.title {
    font-size: 10vw;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

a {
    color: #de1a2b;
    text-decoration: none;
}

.return {
    margin-bottom: 45px;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    font-weight: 00;
}

.divider {
    height: 7px;
    background: white;
    width: 100%;
    /* margin: 10px; */
    margin-bottom: 76px;
    margin-top: 36px;
}

.welcome {
        max-width: 90%;
    margin: 0 auto;
}

.copy {
        font-family: 'Playfair Display', serif;
    font-size: 14px;
}

img {
width: 100%;
}
