
<div class="title">Domain Knowledge</div>

<p>"Ive got an itch only death can scratch it / 
I've taken hits from the sidewalk sideways /

She said electrocute myself /
Oh will you marry me, my friend /
I keep my enemies close to my heart /
So I can remember why I'm down, why I'm really down /

Shake it girl, shake it baby, shake the limbs now /
She takes apart the piece that makes my heart beat now /
I love the way you hate the way that I like you /
Here for the moment / getcha lie lie lie lie /

I wanna be / I wanna be someone /
That you need / that you want to do something /

I gotta leave / this town is for threes yeah /
Tangerine, preconcieved loyalty /

I wanna be your man /

Feelings gone but don't be sad /
An envoy of leftovers - service land /
Passive agressive oriented comeback /
Drive the stake into places that land"</p>

<return></return>
<divider></divider>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316891819&amp;color=%23000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>