



<div class="title">Fuck You, I'm Not Dead</div>

<p>"Speaking /
Am I allowed? / No? 
/ All the times feel like innocence / Guillotine shimmering honestly 
/ All the fine feelings that I feel / Stop this, stop! / It's insane /
I walk on holiday / Feeling like..."</p>

<return></return>
<divider></divider>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316891811&amp;color=%23000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>


