


<div class="title">Man With A Plan</div>

<p>"A man /
A man with a plan /
I said enough / to say /
I've said enough / today /
My friends are gone away /
And time is not on my side /

Man with a plan /
He's a man with a plan /
A man with a plan /
He's a man with a plan /

Welcome back again / welcome back "</p>

<return></return>
<divider></divider>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/316891814&amp;color=%23000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>


