<div class="title">Debutante</div>

<p class="welcome">xx For me, I think it always starts with the music. It's always the music, the production- the tone and overarching feelings first. Like our everyday conversation,
    I don't think it REALLY matters what you say- but how you say it. Maybe honing it all the way down, tone is the key one I think. Anyways, I guess I was listening to a lot of fucking
    Nick Cave and The Wolfgang Press at the time and feeling very antsy about finally finishing school. I mean, for 5 years, every 4 months I move to a new city- that's just the 
    reality of the lifestyle that my program affords. It really doesn't make building relationships
    or finding people to play these songs with very easy. Computer Science has forced me to be a very logical person; for example, I'm finding 
    it increasingly difficult to find the motivation to talk small when everyone becomes a supernumerary under the taught practionality of it all.
    It's a shitty thing when you go to a party or a <a href="/theenodes">freak punk show</a> in
    Ottawa or St. Catharines (which is where I was writing these songs), and you meet these interesting people but in the back of your mind, you're certain you're never
    going to have time for this person because of school. Ugh, fuck I just want to be done school so I can
    finally pull the people that I want into my life. Anyways, I want to play these songs. I want to make more things. I'm nearly done school. I want to be around creatives. Hit me up if you want to fuck shit up. - KS
    
</p>

<p> The self-titled EP is on <a href="https://debutante-band.bandcamp.com">Bandcamp</a> and <a href="https://soundcloud.com/cyanidecanaries/sets/debutante-debutante-ep">SoundCloud</a> if you're looking for a way to stream it or buy it. If you're looking for a way to hear
    it live in person, you'll have to wait a bit until I put a band together, but you can <a href="https://www.facebook.com/debutantee">follow along here</a>. And so, the EP; the tracklist goes a little something like
     <a ng-href="/track/mindyourown">1. Mind Your Own 01:33</a>, <a href="/track/waste">2. Waste 04:15</a>, <a href="/track/domainknowledge">3. Domain Knowledge 02:33</a>, 
     <a href="/track/watchclosely">4. Watch Closely 04:02</a>, <a href="/track/man">5. A Man With A Plan 04:24</a>, <a href="/track/fuckyou">6. Fuck You, I'm Not Dead 04:49</a>.
</p>

<p>Some have said that "Debutante is a departure from "Cyanide Canaries", the enduring surf rock / trip hop endeavor fronted by Brantford, Ontario born Khalil Stemmler. Impressed by the golden era of post-punk from the late 70's and early 80s, if one would "Watch Closely"
or rather, listen- influences can be traced back to Andy Gill's stringent guitar riffs, the violent fetishism of The Birthday Party and occassional delivery of The Wolfgang Press." Another, "gritty textures, dangerous intimations, and a sense of
caustic longing... DEBUTANTE is the belle of the ball, and kids the auditorium is definitely on fire... defined by sharp grooves and razor-rainstorm guitars, this music revisits the early 80s postpunk moment without any of the usual pained nostalgia.
these songs want to hurt you the way you hurt them." - Caligula Jr, resident psychedelic cave monster. "Debutante explores their post-punk leanings with exciting and guttural guitars and electronically altered vocals." - Mark Anthony Brennan</p>